<div id="main">
  <nav>
    <%- include('nav.ejs') %>
  </nav>
  <div class="post-list">
    <% site.posts.forEach(function(post){ %>
        <fluent-card id="post-card">
            <a href="<%- post.path %>"><h2><%- post.title %></h2></a>
            <%- post.excerpt %>
            <a href="<%- post.path %>"><fluent-button>阅读更多</fluent-button></a>
        </fluent-card>
    <% }); %>
  </div>
  <%- js('js/main.js') %>
</div>