<div id="main">
  <nav>
    <%- include('nav.ejs') %>
  </nav>
  <div class="post-list">
    <% site.posts.forEach(function(post){ %>
        <fluent-card id="post-card">
            <img src="<%= post.cover %>" class="post-cover" />
            <h2><a href="<%- post.path %>"><%- post.title %></a></h2>
            <%- post.excerpt %>
            <a href="<%- post.path %>"><fluent-button appearance="accent">阅读更多</fluent-button></a>
        </fluent-card>
    <% }); %>
  </div>
  <%- js('js/main.js') %>
</div>