<!DOCTYPE html>
<html lang="<%- config.lang %>">

<head>
  <% if (is_post()) { %>
    <title><%= page.title %> - <%- config.title %></title>
  <% } %>
  <% if (is_home()) { %>
    <title><%- config.title %></title>
  <% } %>
  <meta charset="utf-8">
  <link rel="icon" href="<%- theme.favicon %>">
  <link rel="apple-touch-icon" href="<%- theme.favicon %>">
  <meta name="author" content="<%- config.author %>">
  <meta name="description" content="<%- config.description %>">
  <meta name="theme" content="hexo-theme-fluent">
  <script async type="module" src="https://unpkg.com/@fluentui/web-components"></script>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://unpkg.com/star-markdown-css@0.4.1/dist/yun/yun-markdown.min.css">
  <%- css('css/main.css') %>
  <%- css('lib/fluent-icons-for-web.css') %>
</head>

<body>
  <%- include('sidebar.ejs') %>
  <%- body %>
  <%- include('footer.ejs') %>
</body>

</html>