<!DOCTYPE html>
<html lang="<%- config.lang %>">

<head>
  <title><%- config.title %></title>
  <meta charset="utf-8">
  <link rel="icon" href="<%- theme.favicon %>">
  <link rel="apple-touch-icon" href="<%- theme.favicon %>">
  <meta name="author" content="<%- config.author %>">
  <meta name="description" content="<%- config.description %>">
  <meta name="theme" content="hexo-theme-fluent">
  <script type="module" src="https://unpkg.com/@fluentui/web-components"></script>
  <link rel="stylesheet" href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/bulma/0.9.3/css/bulma.min.css">
  <%- css('css/main.css') %>
</head>

<body>
  <%- body %>
</body>

</html>